CompileFlags:
  CompilationDatabase: build
  Add:
    - -Wall
    - -Wextra
    - -Wpedantic
    - -Wconversion
    - -Wshadow
    - -std=c++23

Diagnostics:
  ClangTidy:
    Add:
      - bugprone-*
      - performance-*
      - portability-*
      - modernize-*
      - readability-*
    Remove:
      - modernize-use-trailing-return-type
      - readability-function-cognitive-complexity
      - readability-identifier-length
      - readability-magic-numbers

InlayHints:
  Enabled: Yes
  ParameterNames: Yes
  DeducedTypes: Yes
