# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
.xml
/stringSoundsTrainer.debug
/stringSoundsTrainer
/.settings/language.settings.xml
/.cproject
/.project
/trainer/stringSoundsTrainer.debug
/player/stringSoundsPlayer.debug
/trainer/stringSoundsTrainer
/player/stringSoundsPlayer
/trainer/StringSoundsTrainer
/trainer/StringSoundsTrainer.debug
/player/StringSoundsPlayer.debug
/player/StringSoundsPlayer
/trainer/progression/*
